<div>
  {{#if result}}
  <div class="row g-3">
    {{#each result}}
    <div class="col-sm-12 col-lg-6">
      <div class="card h-100">
        <img src={{logo_school}} alt="school" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{name_school}}</h5>
          <p class="card-text">{{school_level}}</p>
          <a href="/school/{{id}}" class="btn btn-primary">Detail</a>
        </div>
      </div>
    </div>

    {{/each}}
  </div>
  {{else}}
  <div class="alert alert-warning position-absolute top-50 start-50 translate-middle" role="alert">Tidak ada produk di
    Database!</div>
  {{/if}}
</div>

<!-- Modal Add School -->
<form action="/addSchool" method="post" autocomplete="off">
  <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addModalLabel">Posting Data Sekolah</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label for="namaProduk" class="form-label">Nama Sekolah</label>
          <input class="form-control" id="namaProduk" type="text" name="nama_sekolah" aria-label="nama sekolah">
          <label for="npsn" class="form-label">NPSN</label>
          <input class="form-control" id="npsn" type="number" name="npsn" placeholder="nomor pokok sekolah.."></input>
          <label for="alamatSekolah" class="form-label">Alamat</label>
          <input class="form-control" id="alamatSekolah" type="text" name="alamat" aria-label="alamat sekolah">
          <label for="logoSekolah" class="form-label">Logo atau Foto Sekolah (urlnya saja)</label>
          <input class="form-control" id="logoSekolah" type="text" name="logo" aria-label="logo sekolah">
          <label for="tingkatanSekolah" class="form-label">Tingkat Sekolah </label>
          <input class="form-control" id="tingkatanSekolah" type="text" name="tingkatan" aria-label="tingkatan sekolah">
          <label for="statusSekolah" class="form-label">Status Sekolah (Negeri/Swasta)</label>
          <input class="form-control" id="statusSekolah" type="text" name="status" aria-label="status sekolah">
          <input type="hidden" name="" class="id-user" value={{user.id}}>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
          <button type="submit" class="btn btn-primary">Simpan</button>
        </div>
      </div>
    </div>
  </div>
</form>