<div>
  {{#if result}}
  <div class="row g-5">
    {{#each result}}
    <div id="{{id}}" class="col-sm-6 col-md-4 col-lg-3">
      <div class="card text-white bg-dark h-100">
        <img src="{{logo_school}}" alt="{{name_school}} logo" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{name_school}}</h5>
          <p class="card-text">{{school_level}}</p>
        </div>
        <div class="card-footer bg-transparent d-md-block">
          <a href="/school/{{id}}" class="btn btn-warning">Detail</a>
        </div>
      </div>
    </div>

    {{/each}}
  </div>
  {{else}}
  <div class="alert alert-warning position-absolute top-50 start-50 translate-middle" role="alert">Tidak ada produk di
    Database!</div>
  {{/if}}
</div>